.ajax-register-links {
	margin: 0; padding: 0;
	li {
		display: none;
	}
	li:first-child{
		@include inline-block(top);
	}
}
.l-page {
	background: url("../images/layout/bg-header.png") top left repeat-x;
}
.l-header {
	height: 60px;
	a{
		color: $menu_link_color;
	}	
	.block {
		@include inline-block(top);
	}
}
.l-region--header {
	margin-top: 20px;
}