body{
	display: none;
}
ul.breadcrumb{
	display: none;
}
.idiomas-block {
	h2,
	.view-content{
		text-align: center;
	}
	.views-row {
		@include inline-block(top);
		width: 33%;
	}
}
.flexslider {
	border-radius: 0;
}
.conversion-home {
	position: absolute;
	right: 3%;
	top: 10%;
	z-index: 2;
	background: white;

	> * {
		padding: 2%;
	}
	h2 {
		padding-bottom: 0;
	}
}
.l-content {
	position: relative;

	#galeria-home {
		position: relative;
		z-index: 1;
		background: red;
	}
}

